

    
    
    
<div class="container">
    <div class="row mb-4 mt-5">
      <div class="col">
        <div class="card text-white bg-dark" style="border-radius: 10px;">
            <h5  class="card-header">Veri Tabanı Dosyası Yükleme</h5>
            <div class="card-body">
              <p   class="card-text">Verilerinizin bulunduğu *csv dosyanızı buradan yükleyebilirsiniz.</p>
              <div>
                <input class="form-control form-control" id="formFileLg" type="file">
              </div>
              
            </div>
          </div>
      </div>
      
    </div>
    <div class="row">
      <div class="col">
        <div class="card text-white bg-dark" style="border-radius: 10px;">
            <h5  class="card-header">Veri Tabanı</h5>
            <div class="card-body">
            <table class="table">
              <tr>
                <td>deneme</td>
                <td>deneme</td>
                <td>deneme</td>
                <td>deneme</td>
                <td>deneme</td>
              </tr>
            </table>
            </div>
          </div>
      </div>
      
    </div>
  </div>
